<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ARSA 2019</title>
    <link rel="stylesheet" href="../styles/bootstrap.css">
    <link rel="stylesheet" href="../styles/login.css">
    <script src="../javascript/validation.js"></script>
</head>
<body>
    <div class="fix">
        <div class="login-container">
            <div class="col-12 login-form">
                <form action="http://localhost:3000/login" onsubmit="return validateFields('Login')" method="POST">
                    <h3>Login</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" id="input-user-login" name="inputUser" placeholder="Nombre de usuario *" value="" onkeypress="validate(event, this)" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="input-password-login" name="inputPassword" placeholder="Contraseña *" value="" onkeypress="validate(event, this)" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-success" style="float:left;" value="Ingresar" />
                        <a href="./registro.html" class="btn btn-info" style="float:right;">Registrarse</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>